.add-expense-card {
    border: 2px solid black;
    width: 300px;
    height: 200px;
    background-color: rgb(9, 14, 43);
    color: #fff;
    border-radius: 6px;
    margin: 20px;
    padding: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    .add-title {
        input {
            width: 180px;
            height: 30px;
            border-radius: 4px;
            font-size: 20px;
        }
    }
    .add-amount {
        margin-left:-90px;
        input {
            width: 80px;
            height: 30px;
            border-radius: 4px;
            font-size: 20px;
        }
    }
    .add-title, .add-amount {
        margin-bottom: 10px;
    }
    span {
        font-size: 20px;
    }
    .expenseType {
        width: 150px;
        height: 30px;
        border-radius: 4px;
        padding: 5px;
        font-size: 15px;
        font-weight: 700;
        color: rgb(170, 13, 13);
    }
    .add-expense-button {
        margin-left: 10px;
        width: 80px;
        height: 25px;
        border-radius: 6px;
        background-color: green;
        color: #fff;
        cursor: pointer;
        &:disabled {
            cursor: not-allowed;
            background-color: rgb(17, 44, 17);
        }
    }
}