.add-expense-card {
    height: 200px;
    background-color: rgb(238, 109, 109);
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    input, select, button {
        border: none;
        &:focus {
            border: none;
            outline: none;
        }
    }
    input {
        color: rgb(170, 13, 13);
    }
    .add-title {
        input {
            width: 180px;
            height: 30px;
            border-radius: 4px;
            font-size: 20px;
        }
    }
    .add-amount {
        margin-left:-90px;
        input {
            width: 80px;
            height: 30px;
            border-radius: 4px;
            font-size: 20px;
        }
    }
    .add-title, .add-amount {
        margin-bottom: 10px;
    }
    span {
        font-size: 20px;
    }
    option {
        .visible-expense-option{
            width: 100px;
            background: red;
        }
    }
    .expenseType {
        -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
        width: 150px;
        height: 30px;
        border-radius: 4px;
        padding: 5px;
        font-size: 15px;
        font-weight: 700;
        color: rgb(170, 13, 13);
        .selected {
            background-color: orangered;
            color: #fff;
        }
        .expense-option:hover{
            background-color: orangered !important;
            color: #fff !important;
        }
    }
    .add-expense-button {
        width: 80px;
        height: 25px;
        border-radius: 6px;
        background-color: green;
        color: #fff;
        cursor: pointer;
        &:disabled {
            cursor: not-allowed;
            background-color: rgb(28, 77, 28);
        }
    }
}