.App {
  text-align: center;
  padding: 30px;
  .header {
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .budget {
    display: flex;
    justify-content: center;
    @media  screen and (max-width: 700px) {
        display: flex;
        flex-direction: column;
    }
  }
}

